@import "../../utils/colors.scss";
@import "../../utils/mediaQueries.scss";
@import "../../utils/pixelsToRem.scss";

.card {
    position: relative;
}

.category {
    margin: 0;
    padding: rem(4) rem(16) rem(0) rem(16);
    text-transform: capitalize;
    color: $font-brown;
    background-color: #fff;
    border-radius: 19px;
    position: absolute;
    top: 256px;
    left: 48px;
}

.name {
    margin: 0;
    font-size: rem(40);
    line-height: rem(48);
    font-weight: 800;
    color: #fff;
    position: relative;
    top: -100px;
    left: 48px;
}